<!Doctype html>
<html>
<head>
	<title>P5</title>
	<link rel='stylesheet' href='stylesheets/style.css'/>
</head>
<body>
	<a href= http://localhost:3000/quizzes>Quizzes</a>
	<a href= http://localhost:3000/credits>Créditos</a>
	<h1>P5</h1>
	<p>Bienvenido a P5</p>
</body>
</html>
